body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eaf7e6; /* Tom verde claro */
}

header {
  background-color: #43a047; /* Verde mais escuro para o cabeçalho */
  padding: 15px;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #66bb6a; /* Verde médio para a barra de navegação */
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #81c784; /* Verde mais claro ao passar o mouse */
}

main {
  text-align: center;
  margin-top: 80px; /* Para compensar a altura fixa do cabeçalho */
}